*{margin:0; padding:0; border:none}
body{font-family:Calibri, sans-serif; font-weight:200; font-size:110%;}

.content{}
header{background-color:#5b1c74; height:100px; width:100%; margin-bottom:5em; position:fixed; top:0; right:0}


.main{}
article{width:90%; margin-right:auto; margin-left:auto}
section{padding-bottom:5em}




h1,h2,h3,h4,h5,h6{font-family:Arial, sans-serif;}
.indexh{font-size:24px}

figure{text-align:center; margin-top:.15em; margin-bottom:.5em}
.figimg{display:block; margin-left:auto; margin-right:auto}
figcaption{text-align:center; font-size:1.75em; font-style:italic; letter-spacing:-1px; padding-top:.5em; padding-bottom:.2em}
