*{margin:0; padding:0; border:none}
body{font-family:Calibri, sans-serif; font-weight:200; font-size:110%; }

.content{margin-right:275px; text-align:center; outline:1px solid #000}
header.banner{height:100px; width:100%; margin-bottom:5em; position:fixed; top:0; right:0}



.main{margin-top:12em}
article{width:90%; margin-right:auto; margin-left:auto}
section{padding-bottom:5em}


ul,li{list-style-type:none}

.toc{border:none;border-bottom:solid navy 1.0pt; padding-bottom:1em;}
.toc li{}
.toc a{}

p{text-align:left; padding:.6em .95em; font-family:Georgia, sans-serif; font-size:1.45em; margin:.3em .45em}
.no-margin-bottom{margin-bottom:0}

h1,h2,h3,h4,h5,h6{font-family:Arial, sans-serif;}
h1{margin-bottom:1.4em}
h2{margin-bottom:1.15em}
h3{margin-bottom:1.0em}
h4{margin-bottom:.9em}

.indexh{outline:3px dotted #999; font-size:2.25em; font-family:Myriad Pro, sans-serif; font-weight:300; text-align:left}


.logo{background-color:#000; display:block; width:100%; float:right; border-bottom:2px solid #000080}
.logo img{display:block; float:right; margin-right:1em; margin-top:4em}

.
.header-lead{border:none;border-bottom:solid navy 1.0pt;padding:0in 0in 1.0pt 0in}


figure{text-align:center; margin-top:.15em; margin-bottom:.5em}
.figimg{display:block; margin-left:auto; margin-right:auto}
figcaption{text-align:center; font-size:1.75em; font-style:italic; letter-spacing:-1px; padding-top:.5em; padding-bottom:.2em}



.clearright{clear:right; float:none}
