*{margin:0; padding:0; border:none}
body{font-family:Calibri, sans-serif; font-weight:200; font-size:110%}

.content{width:90%; margin-left:auto; margin-right:auto; position:relative}
.banner{width:100%; height:75px; border-bottom:2px solid #000080}


.main{margin-top:2em}
.main-index.main{margin-top:5em}
article{width:90%; margin-right:auto; margin-left:auto}
section{padding-bottom:5em}


ul,li{list-style-type:none}

.toc{}
.toc li{}
.toc a{}

p{text-align:left; padding:.6em .95em; font-family:Georgia, sans-serif; font-size:1.45em; margin:.3em .45em}
.no-margin-bottom{margin-bottom:0}

h1,h2,h3,h4,h5,h6{font-family:Arial, sans-serif;}
h1{margin-bottom:1.4em; font-size:1.5em}
h2{margin-bottom:1.15em}
h3{margin-bottom:1.0em}
h4{margin-bottom:.9em}

.headernext{margin-top:2em; border-top:2px solid #000080; }
.headernext a{padding-top:2em; display:block; text-align:right}
.header-toc{border-bottom:2px solid #000080; margin-bottom:.25em}

.indexh{font-size:2.25em; font-family:Myriad Pro, sans-serif; font-weight:300; text-align:left}


.logo{display:block; width:100%; position:relative}
.logo img{position:absolute; right:1em; top:1em}

.mslogo{display:block; margin-top:1em; margin-bottom:1em; margin-left:80%}


.header-lead{border-bottom:2px solid #000080; color:#000080}


figure{text-align:center; margin-top:.15em; margin-bottom:.5em}
.figimg{display:block; margin-left:auto; margin-right:auto}
figcaption{text-align:center; font-size:1.75em; font-style:italic; letter-spacing:-1px; padding-top:.5em; padding-bottom:.2em}



.clearright{clear:right; float:none}

.indexh time{display:block; font-size:.5em}

.notebox{margin:.25em auto; border:1px solid #000}
.notebox p{padding:.2em .5em; font-style:italic; font-size:1.15em; margin:.1em .2em}


.contrast{color:#333}
.times-new-roman{font-family:Times New Roman, sans-serif}
